.info {
  background-color: $white;
}

.info__subhead {
  display: block;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 36px;
  text-align: center;
}

.info__tagline {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 8.4%;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #283645;
}

.info__wrap {
  position: relative;
  background-color: $lightblue;
  padding-top: 24%;
  padding-left: 8.4%;
  padding-right: 8.4%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 94px;
    background-image: url("../img/icons/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position:  100%  50%;
    background-size: cover;
  }

  &::after {
    position: relative;
    content: "";
    display: block;
    min-height: 285px;
    background-image: url("../img/fond/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 8px;
    z-index: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/iphone-screen-mobile@2x.png");
      background-size: contain;
    }
  }
}

.info__list {
  @include list();
}

.info__item {
  display: block;
  text-align: center;
  margin-bottom: 31.5px;
}

.info__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @include zeroing;
  margin-bottom: 11.3px;
}

.info__text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;

  @include zeroing;
}

.info__action {
  display: none;
}

@media #{$tablet} {
  .info__subhead {
    padding-top: 7.8%;
    margin-bottom: 50px;
  }

  .info__tagline {
    font-size: 40px;
    margin-bottom: 4px;
    line-height: 45px;

    &:first-child {
      width: 90%;
    }
  }

  .info__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    @include zeroing;

    &::after {
      min-width: 265px;
      min-height: 485px;
      background-image: url("../img/fond/iphone-screen-3-tablet@1x.png");
      background-position: left 5px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fond/iphone-screen-3-tablet@2x.png");
        background-size: contain;
      }
    }
  }

  .info__list {
    width: 47%;
    padding-top: 33px;
  }

  .info__item {
    text-align: left;
    margin-bottom: 36px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .info__title {
    margin-bottom: 11px;
  }


  .info__action {
    position: relative;
    width: 100%;
    display: flex;
    //align-items: flex-end;
    justify-content: space-around;
    padding-top: 58px;

    &::before {
      content: "24";
      //margin-top: 7px;
      padding-top: 86px;
      display: block;
      width: 238px;
      min-height: 278px;
      text-align: center;
      font-size: 96px;
      font-weight: 700;
      color: $color;
      background-image: url("../img/icons/icon-editor-diagram-fill.svg"),url("../img/icons/icon-timer.svg");
      background-repeat: no-repeat, no-repeat ;
      background-position: 17px 55px, 0 0;
      background-size: 203px auto, contain;
    }
  }

  .info__action-wrap {
    width: 50%;
    padding-top: 37px;
    padding-left: 22px;
  }

  .info__title-action {
    width: 70%;

    @include zeroing;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 36px;
  }

  .info__text-action {
    width: 98%;

    @include zeroing;
    margin-bottom: 11px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.43px;
    color: $color;
  }

  .info__link {
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.43px;
    color: $color;
  }
}

@media #{$desktop} {
  .info__tagline {
    font-size: 50px;
  }

  .info__wrap {
    padding-left: 7%;
    padding-right: 7%;

    &::after {
      display: none;
    }
  }

  .info__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
  }

  .info__item {
    width: 25%;
    display: block;
    text-align: center;

    &::before {
      position: relative;
      content: "";
      display: block;
      min-width: 180px;
      min-height: 300px;
      margin-bottom: 10%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }

    &--one::before {
      background-image: url("../img/fond/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fond/iphone-screen-1-desktop@2x.png");
      }
    }

    &--two::before {
      background-image: url("../img/fond/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fond/iphone-screen-2-desktop@2x.png");
      }
    }

    &--three::before {
      background-image: url("../img/fond/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/fond/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .info__action {
    padding-top: 0;
    padding-bottom: 6%;
    background-color: $lightblue;
  }
}
