.intro {
  width: 100%;
  padding-top: 51%;
  background-image: url("../img/fond/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 8px;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/fond/bg-back-mobile@2x.jpg");
    background-position: 50% -4px;
    background-size: 755px auto;
  }
}

.intro__annex {
  position: relative;
  width: 100%;
  padding-top: 308px;
  background-image: url("../img/fond/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 20px;
  background-size: 260px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/fond/iphone-hand-mobile@2x.png");
  }
}

.intro__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.5%;
  background-color: #1d2631;
}

.intro__title {
  display: none;
}

.intro__reference {
  @include link();
  display: block;
  min-width: 280px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 10%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $white;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 35px;

  &:hover {
    color: $braun;
    background-color: $white;
  }

  &:active {
    color: #f2ced5;
  }
}

.intro__list {
  width: 66.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include list();
  margin-bottom: 2%;
}

.intro__link {
  display: block;
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;

  &--one {
    background-image: url("../img/icons/logo-apple.svg");
    background-position: 95% 75%;
  }

  &--two {
    background-image: url("../img/icons/logo-android.svg");
    background-position: center 75%;
  }

  &--three {
    background-image: url("../img/icons/logo-microsoft.svg");
    background-position: 15% 75%;
  }
}

.intro__text {
  display: block;
  width: 80%;
  text-align: center;
  color: $white;
  line-height: 24px;
  margin-bottom: 30px;
}

@media #{$tablet} {
  .intro {
    padding-top: 25%;
    background-image: url("../img/fond/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 49.5% bottom;
    background-size: 1199px auto;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/bg-back-tablet@2x.jpg");
    }
  }

  .intro__annex {
    width: 100%;
    padding-top: 75px;
    background-image: url("../img/fond/iphone-hand-tablet@1x.png");
    background-position: center bottom;
    background-size: 700px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/iphone-hand-tablet@2x.png");
    }
  }

  .intro__wrap {
    width: 50%;
    padding-top: 7px;
    margin-left: 1%;
    background-color: transparent;
  }

  .intro__title {
    width: 230px;
    display: block;

    @include zeroing();
    margin-bottom: 27px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    color: $white;
  }

  .intro__reference {
    min-width: 300px;
    margin-bottom: 45px;
  }

  .intro__list {
    width: 66%;
    margin-bottom: 17px;
  }

  .intro__text {
    width: 95%;
    font-size: 18px;
    margin-bottom: 111px;
  }
}

@media #{$desktop} {
  .intro {
    padding-top: 24.75%;
    background-image: url("../img/fond/bg-back-desktop@1x.jpg");
    background-position: center 98%;
    background-size: 2562px 860px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/bg-back-desktop@2x.jpg");
    }
  }

  .intro__annex {
    padding-top: 73px;
    background-image: url("../img/fond/iphone-hand-desktop@1x.png");
    background-position: 96% 96%;
    background-size: 1047px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/iphone-hand-desktop@2x.png");
    }
  }

  .intro__wrap {
    width: 47%;
    margin-left: 0;
  }

  .intro__title {
    width: 300px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 51px;
  }

  .intro__reference {
    min-width: 300px;
    width: 53%;
    margin-bottom: 65px;
    font-size: 20px;
    letter-spacing: 0.6px;
  }

  .intro__list {
    width: 37.5%;
    margin-bottom: 34px;
  }

  .intro__text {
    width: 300px;
    margin-bottom: 129px;
  }
}
