.list {
  @include list();
  margin-left: 11px;
  margin-right: 11px;
}

.list__item {
  width: 100%;
}

@media #{$tablet} {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .list__item {
    width: 48.5%;
  }
}

@media #{$desktop} {
  .list {
    margin-left: 130px;
    margin-right: 130px;
  }
}
