.list {
  @include list();
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.list__item {
  width: 100%;
}

@media #{$tablet} {
  .list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
  }

  .list__item {
    width: 48.5%;
  }
}

@media #{$desktop} {
  .list {
    margin-left: 10.8%;
    margin-right: 10.8%;
  }
}
