.page-header {
  position: relative;
  margin-bottom: -22.4%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrap {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.page-header__wrap--show {
  background-color: #283645;
}

.page-header__wrap--show + .page-header__nav {
  display: block;
}

.page-header__logo {
  display: block;
  margin-right: auto;
  margin-left: 6.15%;
  margin-bottom: 1.8%;
}

.page-header__logo-svg {
  display: block;

  &:hover {
    path {
      fill: #d22856;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__submit {
  width: 42px;
  height: 25px;
  margin-right: 3.4%;
  border: 0;
  outline: 0;
  background-color: transparent;

  &:hover {
    .page-header__toggle {
      background-color: $color;

      &::before,
      &::after {
        background-color: $color;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  height: 4px;
  background-color: $white;

  &::after,
  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $white;
    content: "";
  }

  &::before {
    transform: translateY(-9px);
  }

  &::after {
    transform: translateY(9px);
  }
}

.page-header__submit--active {
  .page-header__toggle {
    background-color: transparent;

    &::before {
      transform: translateY(0) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }

  &:hover {
    .page-header__toggle {
      background-color: transparent;
    }
  }
}

.page-header__nav {
  display: none;
}

@media #{$tablet} {
  .page-header__wrap {
    padding-top: 27px;
  }

  .page-header__logo {
    margin-left: 3.3%;
    margin-bottom: 38px;
  }

  .page-header__logo-mobale {
    display: none;
  }

  .page-header__logo-tablet {
    display: inline-block;
  }

  .page-header__submit {
    margin-top: 2.45%;
    margin-right: 1.5%;
  }
}

@media #{$desktop} {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 37px;
    padding-left: 10.2%;
    padding-right: 9.1%;
    margin-bottom: -23.3%;
  }

  .page-header__wrap {
    width: 20%;
    padding-top: 0;
    background-color: transparent;
  }

  .page-header__logo {
    margin-bottom: 0;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: inline-block;
  }

  .page-header__submit {
    display: none;
  }
}
