.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;

  &--сopperfield {
    display: none;
  }
}

.page-footer__link {
  display: block;
  text-align: center;
}

.page-footer__link svg {
  display: block;

  &:hover {
    path {
      fill: #283645;
    }
  }

  &:active {
    path {
      fill: #f1becc;
    }
  }
}

.page-footer__blue-desktop {
  display: none;
}

.page-footer__list {
  @include list();
}

.page-footer__copyright {
  width: 45%;
  display: flex;
  align-items: flex-end;
}

.page-footer__link-html {
  display: block;

  &:hover {
    svg {
      fill: #283645;
    }
  }

  &:active {
    svg {
      fill: #bec2c7;
    }
  }
}

@media #{$tablet} {
  .page-footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 36px;
    padding-left: 7px;
    padding-right: 7px;

    &--сopperfield {
      display: flex;
    }
  }

  .page-footer__link {
    width: 30%;
    margin-top: -12px;
  }

  .page-footer__list {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 30%;
    justify-content: flex-end;
  }

  .page-footer__text {
    letter-spacing: 0.35px;
  }

  .page-footer__link-html {
    margin-left: 15px;
    margin-bottom: 3px;
  }
}

@media #{$desktop} {
  .page-footer {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 68px;
    padding-top: 68px;
  }

  .page-footer__blue-mobile {
    display: none;
  }

  .page-footer__blue-desktop {
    display: inline-block;
  }

  .page-footer__text {
    font-size: 18px;
  }
}
