.page-form {
  width: 100%;
  padding-top: 33.8%;

  @include open_sans;
  background-image: url("../img/fond/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 5px;
  background-size: contain;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/fond/bg-back-mobile@2x.jpg");
    background-position: 50% -4px;
    background-size: 717px auto;
  }
}

.page-form__title {
  display: block;
  width: 100%;

  @include zeroing();
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 17.3%;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $white;
}

.page-form__wrapper {
  padding-top: 14%;
  background-color: $white;
}

.page-form__text {
  @include zeroing();
  width: 100%;
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 5%;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: $color;
  text-align: center;
}

.page-form__text-none {
  display: none;
}

.page-form__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.2%;
  padding-left: 6.4%;
  padding-right: 6.5%;
  margin-bottom: 11%;
  border: 0;

  &--noname {
    display: block;
  }


  &--lightblue,
  &--radio {
    background-color: $lightblue;
    padding-top: 11.3%;
    padding-bottom: 13%;
    margin-bottom: 10%;
  }

  &--lightblue {
    margin-bottom: 5.6%;
  }

  &--contacts {
    padding-top: 0;
    margin-bottom: 6.6%;
  }

  &--textarea {
    padding-top: 1%;
    margin-bottom: 12%;
  }
}

.page-form__tagline {
  @include zeroing();
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: $color;
  text-transform: uppercase;
  margin-bottom: 14%;
  text-align: center;

  &--visible {
    display: none;
  }

  &--radio {
    margin-bottom: 13.3%;
  }

  &--textarea {
    margin-bottom: 6.5%;
  }
}


.page-form__label {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;

  &--ruddle {
    display: block;
    margin-left: 7.5%;
    margin-bottom: 5px;
    letter-spacing: normal;
    text-transform: uppercase;
  }

  &--carry {
    margin-bottom: 15.5%;
  }

  &--radio {
    margin-bottom: 13%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.page-form__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 7%;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: $color;
  border: 2px solid #e5e5e5;

  &--textarea {
    min-height: 200px;
    padding-left: 7%;
    margin-bottom: 3%;
  }

  &:hover {
    border: 2px solid $blue;
  }

  &:active,
  &:focus {
    border: 2px solid $color;
  }

  &::placeholder {
    color: $blue;
  }
}

.page-form__checkbox {
  display: none;
}

.page-form__fake {
  position: relative;
  display: block;
  min-width: 39px;
  min-height: 39px;
  max-width: 39px;
  max-height: 39px;
  margin-right: 11.7%;
  background-color: $white;
  border: 2px solid #e5e5e5;

  &--radio {
    border-radius: 50%;
  }

  &:hover {
    border-color: $color;
  }

  &:active {
    border-color: #d22856;
  }
}

.page-form__checkbox:checked {
  &+.page-form__fake {
    &::before {
      border: 2px solid #d22856;
      content: "";
      display: table;
      position: absolute;
      left: 24%;
      top: 25%;
      width: 21px;
      height: 11px;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);
    }
  }

  &+.page-form__fake--radio {
    &::before {
      left: 10px;
      top: 10px;
      width: 15px;
      height: 15px;
      background: #d22856;
      border: 0;
      border-radius: 50%;
    }
  }
}

.page-form__word {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #283645;
}

.page-form__envelope {
  margin-left: 6.4%;
  margin-right: 6.4%;
  text-align: center;
}

.page-form__button {
  width: 100%;

  @include zeroing();
  padding-top: 17px;
  padding-bottom: 16px;
  margin-bottom: 6%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: #2aab6d;
  border: 0;
  outline: 0;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #78bb96;
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.page-form__hint {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.page-form__hint-dormant {
  display: none;
}

@media #{$tablet} {
  .page-form {
    padding-top: 34.2%;
    background-image: url("../img/fond/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 45px;
    background-size: 1200px auto;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/bg-back-tablet@2x.jpg");
      background-position: 50% 2px;
      background-size: 1460px auto;
    }
  }

  .page-form__title {
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 12.5%;
    font-size: 50px;
    line-height: 60px;
  }

  .page-form__wrapper {
    padding-top: 13.8%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .page-form__text {
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 9.2%;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .page-form__text-none {
    display: inline;
  }

  .page-form__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .page-form__block {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 12%;
    background-color: $white;
    border: 2px solid #e5e5e5;

    &--noname {
      padding: 0;
      border: 0;
      order: 1;
      margin-bottom: 4.1%;
    }

    &--radio {
      padding-bottom: 0;
      margin-bottom: 10.6%;
    }

    &--lightblue {
      padding-bottom: 0;
      margin-bottom: 10.5%;
    }

    &--contacts {
      margin-bottom: 60px;
    }

    &--textarea {
      order: -2;
      padding-left: 57px;
      padding-right: 57px;
      margin-bottom: 11.2%;
    }
  }


  .page-form__tagline {
    width: 48%;
    align-self: center;
    margin-top: -9px;
    margin-bottom: 8.25%;
    letter-spacing: -0.25px;
    background-color: $white;

    &--visible {
      display: block;
      margin-bottom: 4.2%;
    }

    &--radio {
      width: 68%;
    }

    &--check {
      width: 81%;
    }

    &--textarea {
      margin-bottom: 6.8%;
    }
  }


  .page-form__row {
    width: 100%;
    display: flex;

    &--noname {
      align-items: baseline;

      &:last-child {
        .page-form__label {
          margin-right: 3%;
          letter-spacing: -0.4px;
        }
      }
    }

    &--contacts {
      position: relative;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-left: 17px;
      padding-right: 17px;

      .page-form__label {
        margin-left: 21px;
        margin-bottom: 13px;
      }

      .page-form__input {
        position: relative;
        padding-left: 3.7%;
        margin-bottom: 12px;
        background-color: transparent;
        z-index: 1;
      }

      &::before {
        position: absolute;
        right: 19px;
        top: 2px;
        content: "";
        display: block;
        width: 60px;
        height: 59px;
        background-image: url("../img/icons/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #e5e5e5;
        z-index: 0;
      }

      &:last-child::before {
        background-image: url("../img/icons/icon-mail.svg");
      }
    }
  }

  .page-form__label {
    &--ruddle {
      margin-right: 3.35%;
      margin-left: 0;
      padding-left: 0;
    }

    &--radio {
      margin-left: 18px;
      margin-bottom: 6.65%;

      &:last-child {
        margin-bottom: 9.8%;
      }
    }

    &--carry {
      margin-left: 18px;
      margin-bottom: 8%;

      &:last-child {
        margin-bottom: 48px;
      }
    }
  }

  .page-form__input {
    width: 100%;
    padding-left: 23px;
    margin-bottom: 3.8%;

    &--textarea {
      min-height: 195px;
      padding-left: 3.7%;
      padding-top: 19px;
      margin-bottom: 10%;
      letter-spacing: 0.55px;
    }
  }

  .page-form__fake {
    width: 40px;
    height: 40px;
    margin-right: 3.8%;
  }

  .page-form__envelope {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 13px;
  }

  .page-form__button {
    width: 48.3%;
  }

  .page-form__text--hint {
    width: 50%;
    font-size: 14px;
  }
}

@media #{$desktop} {
  .page-form {
    padding-top: 27.6%;
    background-image: url("../img/fond/bg-back-desktop@1x.jpg");
    background-position: 50% 12%;
    background-size: 2550px 1060px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/fond/bg-back-desktop@2x.jpg");
      background-position: 50% 4%;
      background-size: 2650px auto;
    }
  }

  .page-form__title {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8.5%;
    font-size: 50px;
  }

  .page-form__wrapper {
    padding-top: 93px;
    padding-left: 10.8%;
    padding-right: 11%;
  }

  .page-form__text {
    margin-bottom: 8.4%;
  }

  .page-form__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-form__block {
    &--noname {
      width: 46.2%;
      order: -3;
      margin-top: -9px;
      margin-right: 7.5%;
      margin-bottom: 0;
    }

    &--radio {
      width: 46.2%;
      order: -2;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 6.8%;
    }

    &--contacts {
      display: flex;
      order: -1;
      padding-left: 4.2%;
      padding-right: 4.6%;
      margin-bottom: 63px;
    }

    &--lightblue {
      padding-left: 6.4%;
      padding-right: 7%;
      padding-bottom: 2%;
      margin-bottom: 6.8%;
    }

    &--textarea {
      order: 1;
      margin-bottom: 6.9%;

      .page-form__label {
        margin-right: 0;
      }
    }
  }

  .page-form__tagline {
    &--radio {
      width: 85%;
      margin-bottom: 10.45%;
    }

    &--visible {
      width: 30%;
      margin-bottom: 2.45%;
    }

    &--check {
      width: 53%;
      margin-bottom: 5.5%;
    }

    &--textarea {
      width: 32%;
      margin-bottom: 4%;
    }
  }

  .page-form__block-wrap {
    &--lightblue {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include zeroing;
    }

    &--contacts {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .page-form__label {
        margin-left: 5%;
        margin-bottom: 0;
        letter-spacing: -0.3px;
      }

      .page-form__input {
        margin-bottom: 2.5%;
        padding-left: 19px;
      }
    }
  }

  .page-form__row {
    &--noname {
      &:last-child {
        .page-form__label {
          margin-right: 3.8%;
        }
      }
    }

    &--contacts {
      width: 47.6%;
    }
  }

  .page-form__label {
    margin-right: 4.5%;

    &--radio {
      width: 100%;
      margin-left: 17%;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 55px;
      }
    }

    &--carry {
      width: 25.1%;
      @include zeroing;
      margin-bottom: 5%;

      &:first-child {
        order: -3;
      }

      &:nth-child(3) {
        margin-left: 21px;
        order: -2;
      }

      &:nth-child(5) {
        order: -1;
      }

      &:nth-child(4) {
        margin-left: 21px;
      }

      &:last-child {
        margin-bottom: 5%;
      }

      .page-form__fake {
        margin-right: 9.5%;
      }
    }
  }

  .page-form__input {
    margin-bottom: 5.8%;

    &--textarea {
      width: 100%;
      min-height: 128px;
      padding-top: 15px;
      padding-left: 22px;
      letter-spacing: 0.4px;
      margin-bottom: 5.2%;
    }
  }

  .page-form__fake {
    margin-right: 6.3%;
  }

  .page-form__word {
    white-space: nowrap;
  }

  .page-form__envelope {
    margin-bottom: 0;
  }

  .page-form__button {
    width: 32%;
    margin-bottom: 0;
  }

  .page-form__hint-dormant {
    display: inline;
  }
}
