.price {
  padding-top: 28.3%;
  background-color: $lightblue;
  background-image: url("../img/icons/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  overflow: hidden;
}

.price__table {
  display: table;
  margin-bottom: 42px;
  position: relative;
  right: 81%;
  width: 262.5%;
}

.price__sked {
  @include list();
  display: table-row;
}

.price__roster {
  position: relative;
  display: table-cell;
  padding-top: 15.7px;
  padding-bottom: 13px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  background-color: $white;
  border: 1px solid #e5e5e5;

  &--stealth,
  &--none {
    display: none;
  }

  &--thead {
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 19px;
    font-size: 18px;
    text-align: center;
    color: $white;
    font-weight: 700;

    background-color: #283645;
  }

  &::after {
    position: absolute;
    top: 24%;
    left: 82%;
    display: block;
    content: "";
    width: 32px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &--check::after {
    background-image: url("../img/icons/icon-yes.svg");
  }

  &--cross::after {
    background-image: url("../img/icons/icon-no.svg");
  }

  &--hit {
    position: relative;
    background-image: url("../img/icons/bg-hit.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      left: 10px;
      top: 12px;
      content: "хит";
      display: block;
      font-size: 12px;
      transform: rotate(-45deg);
    }
  }
}

.price__item-allotted {
  font-size: 24px;
  font-weight: 300;
}

.price__toggles {
  width: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.price__radio {
  display: none;
}

.price__radio-fake {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #bec2c7;
  border-radius: 50%;
  border: 2px solid $lightblue;
  box-sizing: content-box;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    opacity: 0.3;
  }
}

.price__radio:checked {
  & + .price__radio-fake {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 3px solid #283645;

    &:hover {
      background-color: transparent;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media #{$tablet} {
  .price {
    padding-top: 88px;
    padding-left: 3.5%;
    padding-right: 3.1%;
  }

  .price__table {
    position: unset;
    width: 100%;
    margin-bottom: 68px;
  }

  .price__roster {
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 14px;
    text-transform: none;
    letter-spacing: 0.4px;

    &--thead {
      padding-top: 12px;
      padding-bottom: 6px;
      padding-left: 0;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: normal;
    }

    &::after {
      top: 13%;
      left: 49.7%;
      transform: translateX(-50.5%);
    }

    &--check::after {
      top: 18%;
      left: 51%;
    }

    &--none {
      display: table-cell;
    }

    &--stealth {
      display: table-cell;
      opacity: 0;
    }

    &--hit {
      background-size: 74px auto;
      background-position: -6px -6px;

      &::before {
        left: 7px;
        top: 4px;
      }
    }
  }

  .price__item-allotted {
    font-size: 18px;
  }

  .price__roster-text {
    opacity: 0;
  }

  .price__toggles {
    display: none;
  }
}

@media #{$desktop} {
  .price {
    padding-left: 10%;
    padding-right: 10%;
  }
}
