.upload {
  width: 100%;
  padding-top: 7%;
  background-color: $white;
  overflow: hidden;
}

.upload__block-text {
  width: 258px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 13%;
}

.upload__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: $color;

  @include zeroing();
}

.upload__form {
  padding-top: 6.3%;
  background-color: $lightblue;
}

.upload__photo {
  @include zeroing();
  padding-left: 6%;
  padding-right: 7%;
  margin-bottom: 11.5%;
}

.upload__image {
  width: 100%;
}

.upload__block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__block-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.upload__range-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upload__govern {
  width: 64%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.upload__label {
  position: relative;
}

.upload__input {
  position: absolute;
  left: -5555px;
}

.upload__icon {
  display: block;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;


  &--sharpness {
    background-image: url("../img/icons/icon-editor-crop.svg");
  }

  &--brightness {
    background-image: url("../img/icons/icon-editor-fill.svg");
  }

  &--contrast {
    background-image: url("../img/icons/icon-editor-contrast.svg");
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}

.upload__input:checked {
  & + .upload__icon {
    opacity: 1;
  }
}

.upload__block-controls {
  width: 100%;
}

.upload__range-controls {
  width: 100%;
  border-bottom: 1px solid #dddfe0;

  &--two,
  &--three {
    display: none;
  }
}

.upload__range-line {
  position: relative;
  width: 75%;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 32px;
  cursor: pointer;
  background: #283645;
  box-sizing: border-box;
}

.upload__range-thumb {
  position: absolute;
  display: block;
  right: 14.5%;
  margin-top: -7px;
  width: 12px;
  height: 12px;
  background: $lightblue;
  border: 1px solid #d22856;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  z-index: 2;

  &--active {
    background: #d22856;
  }
}

.upload__post {
  width: 87%;
  padding-top: 37px;
}

.upload__submit-post,
.upload__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 5.5%;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #d22856;
  background-color: transparent;
  border: 2px solid #d22856;
  border-radius: 35px;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: #d22856;
  }

  &:active {
    color: #e08195;
    background-color: #d22856;
  }
}

.upload__button {
  margin-bottom: 14.5%;
  opacity: 0.1;

  &:hover {
    color: #d22856;
    background-color: transparent;
    opacity: 0.4;
  }

  &:active {
    color: #cdd0d3;
    background-color: #b5b9be;
    border: 0;
    opacity: 1;
  }
}

@media #{$tablet} {
  .upload {
    padding-top: 7.2%;
  }

  .upload__block-text {
    width: 465px;
    margin-bottom: 9.7%;
  }

  .upload__text {
    font-size: 18px;
  }

  .upload__form {
    display: flex;
    justify-content: space-between;
    padding-top: 8.8%;
  }

  .upload__photo {
    width: 48.5%;
    margin-bottom: 7.5%;
    padding-left: 3%;
    padding-right: 0%;
  }

  .upload__block {
    width: 44.3%;
    align-items: flex-start;
    padding-top: 1.5%;
  }

  .upload__block-wrap {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .upload__govern {
    width: 18%;
    flex-direction: column;
  }

  .upload__label {
    padding-top: 24px;
    border-bottom: 1px solid #dddfe0;

    &:first-child {
      padding-top: 0;
    }
  }

  .upload__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 23px;
    background-size: contain;

    &--contrast {
      width: 23px;
      height: 18px;
    }
  }


  .upload__block-controls {
    width: 74%;
    padding-top: 12px;
  }

  .upload__range-controls {
    width: 100%;
    padding-top: 36px;
    padding-right: 7%;

    &:first-child {
      padding-top: 0;
    }

    .upload__range-thumb {
      right: 21%;
    }

    &--two {
      display: block;

      .upload__range-thumb {
        right: 81%;
      }
    }

    &--three {
      display: block;
      padding-top: 30px;

      .upload__range-thumb {
        right: 45.5%;
      }
    }
  }

  .upload__range-line {
    width: 100%;
    margin-bottom: 34px;
  }

  .upload__post {
    width: 89%;
    padding-top: 0;
    margin-bottom: 5%;
  }

  .upload__submit-post,
  .upload__button {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
  }

  .upload__submit-post {
    margin-bottom: 10%;
  }
}

@media #{$desktop} {
  .upload {
    padding-top: 0.4%;
    margin-bottom: 28px;
  }

  .upload__block-text {
    margin-bottom: 5.5%;
  }

  .upload__form {
    padding-top: 4.7%;
    margin-left: 11%;
    margin-right: 11%;
  }

  .upload__photo {
    width: 40.4%;
    margin-bottom: 5.7%;
    padding-left: 8.3%;
    padding-right: 0%;
  }

  .upload__block {
    width: 50.3%;
    padding-top: 0;
  }

  .upload__govern {
    margin-bottom: 0;
  }

  .upload__label {
    padding-top: 14px;
    border-bottom: 1px solid #dddfe0;

    &:first-child {
      padding-top: 0;
    }
  }

  .upload__icon {
    width: 46px;
    height: 45px;
    margin-bottom: 14px;

    &--brightness {
      width: 50px;
      height: 45px;
    }

    &--contrast {
      width: 48px;
      height: 33px;
      margin-bottom: 20px;
    }
  }

  .upload__block-controls {
    width: 70%;
    padding-top: 20px;
  }

  .upload__range-controls {
    width: 100%;
    padding-top: 34px;
    padding-right: 7%;

    &:first-child {
      padding-top: 0;
    }

    .upload__range-thumb {
      right: 70.5%;
    }

    &--two {
      display: block;

      .upload__range-thumb {
        right: 10%;
      }
    }

    &--three {
      display: block;
      padding-top: 28px;

      .upload__range-thumb {
        right: 40%;
      }
    }
  }

  .upload__range-line {
    width: 94%;
    margin-bottom: 37px;
  }

  .upload__post {
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include zeroing;
    margin-bottom: 11.7%;
  }

  .upload__submit-post,
  .upload__button {
    width: 45%;
    margin-bottom: 0;
  }
}
